<section class="mobile-app">
  <div class="container">
    <div class="mobile-app__inner">
      <div class="mobile-app__content">
        <h3 class="title">Скачайте мобильное приложение</h3>
        <p class="mobile-app__description">
          Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и
          заказывайте еду в любом удобном месте.
        </p>
        <div class="mobile-app__links">
          <a class="mobile-app__link" href="">
            <img
              class="mobile-app__link-image"
              src="./images/appstore.svg"
              alt="ссылка на App Store" />
          </a>

          <a class="mobile-app__link" href="">
            <img
              class="mobile-app__link-image"
              src="./images/googlePlay.svg"
              alt="Google Play" />
          </a>
        </div>
      </div>

      <div
        class="mobile-app__image"
        style="background-image: url('./images/appImg.jpg')"
        width="570"
        height="380">
        <span class="sr-only">Быстро заказать еду с нашим приложением!</span>
      </div>
    </div>
  </div>
</section>
