<div class="review">
  <div class="review__head">
    <div class="review__author">
      <img
        class="review__author-avatar"
        src="@review-author-avatar"
        alt="Аварар автора" />
      <div class="review__author-inner">
        <span class="review__author-name">@review-author</span>
        <span class="review__date">@review-date</span>
      </div>
    </div>
    <div
      class="review__rate"
      data-rateyo-rating="@review-rate"
      data-rateyo-read-only="true"></div>
  </div>
  <p class="review__text">@review-text</p>
</div>
