html {
  @include mq("phone") {
    font-size: 10px;
  }

  @include mq("tablet") {
    font-size: 8px;
  }

  @include mq("tablet-2") {
    font-size: 10px;
  }
}

// * {
//   outline: 1px solid red;
// }

body {
  @extend %Rubik-400;
  line-height: 1.3;
  color: $dark;
  background-color: $bg-color;
  min-height: 100vh;

  @include mq("phone") {
    font-size: 1.6rem;
  }

  @include mq("tablet") {
    font-size: 2rem;
  }
}

.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.main {
  min-height: calc(100vh - 35rem);
  &__header {
    @include mq("phone") {
      padding-top: 7.2rem;
    }
    @include mq("tablet-2") {
      padding-top: 16rem;
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
  }
}

.logo {
  padding-left: 6px;
  @extend %image-animation;
  transition: opacity 0.4s;
}

.title {
  @extend %Rubik-500;
  color: $darkblue-900;
  line-height: 1.3; /* 46.8px */

  @include mq("phone") {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }

  @include mq("tablet") {
    font-size: 3.6rem;
    margin-bottom: 4.5rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Buttons style*/

.primary-btn,
.secondary-btn {
  display: inline-flex;
  border-radius: 6px;
  line-height: 1.3;
  letter-spacing: 0.54px;
  color: $darkblue-900;
  transition: color 0.4s, background-color 0.4s, border 0.4s;

  @include mq("phone") {
    padding: 0.8rem 2.3rem;
    font-size: 1.4rem;
  }

  @include mq("tablet") {
    padding: 1.2rem 3.2rem;
    font-size: 1.8rem;
  }
}

.primary-btn {
  text-decoration: underline;
  &:active {
    text-shadow: $text-shadow;
    text-decoration: none;
  }

  &:hover {
    color: $orange-900;
    text-decoration: none;
  }

  &:focus {
    @extend %orange-box-shadow;
    padding: 0;
    margin: 1.2rem 3.2rem;
    color: $darkblue-900;
    text-decoration: none;
  }
}

.secondary-btn {
  color: $white;
  background: $orange-900;

  &:focus,
  &:hover {
    @extend %orange-box-shadow;
    color: $orange-900;
  }
  &:focus,
  &:active {
    background-color: rgba(255, 122, 80, 0.1);
  }
  &:active {
    color: $orange-900;
  }
  &:hover {
    background-color: $white;
  }
}

/*FOOTER*/
.footer {
  font-size: 1.8rem;
  letter-spacing: 0.18px;
  color: $dark;

  &__form {
    max-width: 20rem;
  }

  &__input {
    width: 100%;
    padding: 1.1rem 1.5rem;
    border-radius: 5px;
    border: 1px solid rgba(49, 53, 43, 0.2);
    margin-bottom: 1.2rem;

    &::placeholder {
      color: $gray;
      border-color: $orange-900;
      font-size: 1.4rem;
      line-height: 1.3;
      opacity: 0.9;
    }

    &:focus {
      @extend %orange-box-shadow;
    }

    &:hover::placeholder {
      color: $darkblue-900;
      opacity: 1;
    }
  }

  & .logo {
    display: inline-block;
    margin-bottom: 2.2rem;
    padding: 0;
  }

  &__contacts {
    @include mq("phone") {
      margin-bottom: 2.8rem;
    }
    @include mq("desktop") {
      margin-left: -2.3rem;
      padding-top: 0.6rem;
      margin-bottom: 0;
    }
  }

  &__inner {
    display: grid;
    justify-items: center;

    @include mq("phone") {
      grid-template-columns: 1fr;
      justify-items: start;
      padding-bottom: 5rem;
    }

    padding-bottom: 6rem;
    @include mq("tablet") {
      grid-template-columns: repeat(3, auto);
      gap: 2rem;
    }
  }

  &__list {
    display: grid;
    @include mq("phone") {
      order: 1;
      row-gap: 2rem;
    }

    @include mq("tablet") {
      order: 0;
      column-gap: 4rem;
      grid-template-columns: repeat(2, auto);
      row-gap: 0;
      padding-top: 0.2rem;
    }

    @include mq("tablet-2") {
      column-gap: 4rem;
      grid-template-columns: repeat(3, auto);
    }

    @include mq("desktop") {
      grid-template-columns: repeat(3, auto);
      column-gap: 7rem;
    }
  }
  &__item {
    max-height: 2.4rem;
  }
  &__link {
    @extend %animation;
    @extend %inline-flex-center;
    background-repeat: no-repeat;

    &--location,
    &--phone,
    &--mail {
      &:before {
        content: "";
        display: block;
        width: 2rem;
        height: 2rem;
        margin-right: 0.7rem;
        background-position: start;
      }
    }

    &--location {
      background-image: url("../images/sprite.svg#icon-location");
    }

    &--phone {
      background-image: url("../images/sprite.svg#icon-calling");
    }

    &--mail {
      background-image: url("../images/sprite.svg#icon-message");
    }
  }

  &__btn {
    @extend %flex-center;
    width: 100%;
    font-size: 1.5rem;
    background-position: left 3.7rem center;

    @include mq("phone") {
      padding: 1.2rem 3.7rem;
      margin-bottom: 3.4rem;
    }
    margin-bottom: 3rem;

    & svg {
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 1rem;
      fill: $white;
    }

    &:hover svg,
    &:active svg,
    &:focus svg {
      fill: $orange-900;
    }
  }

  &__rights {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.4rem;
    line-height: 1;
    border-top: 1px solid rgba(194, 194, 194, 0.2);
  }
}
.breadCrumbs {
  background-color: $light-orange;
  padding: 2.4rem 0;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 0.42px;
  margin-bottom: 1.8rem;
  @include mq("phone") {
    &__hidden {
      display: none;
    }
  }
  @include mq("tablet") {
    margin-bottom: 6rem;
    &__hidden {
      display: flex;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    &:after {
      content: ">";
      padding: 0 0.5rem;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
