.testimonials {
  position: relative;

  @include mq("phone") {
    padding-bottom: 0;
  }

  @include mq("tablet") {
    padding-bottom: 4rem;
  }
  @include mq("desktop") {
    padding-bottom: 5.5rem;
  }

  & .title {
    text-align: center;
    @include mq("phone") {
      margin-bottom: 3rem;
    }

    @include mq("tablet-2") {
      margin-bottom: 4.5rem;
    }
  }

  &__slider {
    position: relative;
    display: flex;
    height: 40rem;
    @extend %scroll;

    @include mq("phone") {
      margin-bottom: 0.8rem;
    }

    @include mq("desktop") {
      margin-bottom: 4.8rem;
    }
  }

  &__controls {
    @extend %inline-flex-center;
    position: absolute;
    left: 50%;
    max-width: 32rem;
    transform: translateX(-50%);
    z-index: 888;
    @include mq("phone") {
      width: 100%;
      padding: 0 5.4rem;
      top: 3.5rem;
      transform: translateX(-55%);
      display: flex;
      justify-content: space-between;
    }

    @include mq("tablet") {
      width: auto;
    }

    & svg {
      width: 1.2rem;
      height: 1.8rem;
      fill: $gray;
    }
  }
  &__prev {
    left: 0;
  }
  &__next {
    right: 0;
  }
  &__prev,
  &__next {
    @extend %flex-center;
    border: 3px solid $gray;
    border-radius: 100%;
    fill: $gray;
    padding: 0.8rem;
    cursor: pointer;

    & svg {
      width: 2rem;
      height: 1.6rem;
    }

    &:hover,
    &:active {
      background-color: #fff2ed;
    }

    &:hover {
      border-color: $light-orange;
    }

    &:hover svg {
      fill: $light-orange;
    }
    &:focus {
      @extend %orange-box-shadow;
    }

    &:focus svg,
    &:active svg {
      fill: $orange-900;
    }

    &:active {
      border-color: transparent;
    }
  }

  &__dots {
    display: flex;
    margin-right: 1.5rem;
    display: none;

    @include mq("tablet") {
      display: flex;
    }
  }

  &__dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    margin-right: 1.6rem;
    background-color: $gray;
    cursor: pointer;
    &--active {
      background-color: $orange-900;
    }
  }
}

.testimonial {
  width: 100%;
  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include mq("phone") {
    flex-direction: column;
    font-size: 1.4rem;
  }

  @include mq("tablet") {
    flex-direction: row;
  }
  @include mq("desktop") {
    align-items: start;
  }

  &__face {
    @extend %flex-center;
    max-width: 30rem;
    border-radius: 100%;
    @include mq("phone") {
      margin-bottom: 3rem;
      margin-left: -3rem;
    }

    @include mq("tablet") {
      margin: 0 auto;
      padding: 0 5rem;
    }

    @include mq("tablet-2") {
      padding: 0;
    }

    @include mq("desktop") {
      margin-left: 9rem;
    }
  }

  &__img {
    border-radius: 100%;
    height: 100%;

    @include mq("phone") {
      max-width: 10rem;
      max-height: 10rem;
    }

    @include mq("tablet") {
      max-width: 20rem;
      max-height: 20rem;
      margin-right: 4rem;
    }

    @include mq("tablet-2") {
      max-width: 30rem;
      max-height: 30rem;
    }
  }

  &__content {
    line-height: 1.5;
    max-width: 68rem;

    @include mq("desktop") {
      padding-top: 3rem;
    }
  }

  &__message {
    display: flex;
    font-style: italic;
    padding: 0 4rem;
    position: relative;
    @include mq("phone") {
      margin-bottom: 2rem;
      font-size: 1.4rem;
    }

    @include mq("tablet") {
      margin-bottom: 3rem;
      font-size: 2rem;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 2.4rem;
      height: 2rem;

      background-image: url("../images/quote.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
      align-self: end;
      transform: rotate(180deg);
    }
  }

  &__author,
  &__author-description {
    display: block;
    margin-top: -0.3rem;
    margin-left: 4.6rem;
  }

  &__author {
    @extend %Rubik-500;
    color: $orange-900;

    @include mq("phone") {
      margin-bottom: 1.3rem;
      font-size: 1.6rem;
    }

    @include mq("desktop") {
      margin-bottom: 1.6rem;
      font-size: 2rem;
    }
  }

  &__author-description {
    font-size: 1.4rem;
    line-height: 1.3;
  }
}
