$orange-900: #ff6838;
$light-orange: rgba(255, 122, 80, 0.1);
$silver-100: #f9faff;
$silver-200: #ececec;
$silver-300: #fff2ed;
$gray: #c2c2c2;
$darkblue-900: #363853;
$dark: #31352b;
$white: #fff;
$bg-color: #f9faff;
$text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);

%Rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%Rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%Rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%orange-box-shadow {
  box-shadow: 0 0 0 0.2rem $orange-900;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%section-padding {
  padding-bottom: 12rem;
}

%anivation {
  background-position: center center;
  transition: background 0.4s, color 0.4s;
  border-radius: 5px;

  &:active,
  &:focus {
    background-color: rgba(255, 122, 80, 0.1);
  }

  &:focus {
    @extend %orange-box-shadow;
  }

  &:hover {
    background-color: $orange-900;
  }
}
