$orange-900: #ff6838;
$silver-100: #f9faff;
$silver-200: #ececec;
$gray: #c2c2c2;
$darkblue-900: #363853;
$dark: #31352b;

%Rubik-300 {
  font-family: "Rubik-Light", sans-serif;
}

%Rubik-400 {
  font-family: "Rubik-Medium", sans-serif;
}

%Rubik-500 {
  font-family: "Rubik-Regular", sans-serif;
}
