$orange-900: #ff6838;
$orange-light: #fff2ed;
$light-orange: rgba(255, 122, 80, 0.1);
$silver-100: #f9faff;
$silver-200: #ececec;
$silver-300: #fff2ed;
$gray: #c2c2c2;
$darkblue-900: #363853;
$dark: #31352b;
$white: #fff;
$bg-color: #f9faff;
$text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);

$breakpoints: (
  'phone': 300px,
  'tablet': 768px,
  'tablet-2': 992px,
  'desktop': 1230px,
);

%Rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%Rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%Rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%orange-box-shadow {
  box-shadow: 0 0 0 0.2rem rgba(255, 104, 56, 0.7);
}

%bg-center {
  background-repeat: no-repeat;
  background-position: center center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%inline-flex-center {
  display: inline-flex;
  align-items: center;
}

%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%animation {
  border-radius: 5px;
  transition: color 0.4s, background-color 0.4s, border 0.4s;

  &:focus {
    @extend %orange-box-shadow;
  }
  &:active {
    text-shadow: $text-shadow;
  }
  &:hover,
  &--active {
    color: $orange-900;
  }
}

%image-animation {
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.4;
  }
}

%bg {
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(249, 250, 255, 0.85);
    transition: background-color 0.4s;
  }
}

%mobile-pt {
  padding: 2.5rem 0;
}

%mobile-border {
  border-bottom: 1px solid #eeeff3;
}

%mobile-pl {
  padding-left: 1.5rem;
}
